.htaccess
.user.ini
.env
.env.backup
.env.production
.editorconfig
.env.example
.env.testing
.gitattributes
.styleci.yml
.gitignore
.htaccess
/.vscode
.well-known
/public/
/storage/
/uploads/
/vendor/
/wp/
.user.ini
php.ini